@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

body {
	position: relative;
	width: 100%;
	min-height: 970px;
	overflow: hidden;
	background-image: linear-gradient(to right, #8de0ed, #adf7e5);
}

.dn {
	display: none !important;
}

/*메인-첫화면*/
#main {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	width: 800px;
	height: 500px;
	padding: 50px;
	padding-right: 100px;
	border-radius: 12px;
	overflow: hidden;
}

/*로그인*/
#login {
	width: 100%;
	height: 100%;
}
#login > h3 {
	color: #4285f4;
	font-weight: bold;
	font-size: 32px;
	margin-bottom: 42px;
}
#login > p {
	margin-bottom: 7px;
	letter-spacing: 2px;
	color: #777;
}
#login > input {
	width: 100%;
	height: 50px;
	border: none;
	background-color: #e5e4e4;
	margin-bottom: 20px;
	border-radius: 7px;
	outline: none;
	padding: 0 20px;
	font-size: 18px;
}
#login > #login-btn {
	width: 100%;
	height: 50px;
	background-color: #4285f4;
	border: none;
	border-radius: 7px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}
#login > a {
	float: right;
	color: #4285f4;
	margin-bottom: 21px;
	font-weight: 400;
	font-size: 15px;
}
#login > a > span {
	margin-left: 5px;
}

/*회원가입*/
.register-on {
	right: -10% !important;
	cursor: default !important;
}
.register-click-on {
	opacity: 0 !important;
}
.register-close-on {
	right: 60px !important;
}
#register {
	background-color: #4285f4;
	width: 100%;
	height: 100%;
	position: absolute;
	right: -95%;
	top: 0;	
	padding: 30px 50px;
	padding-right: 150px;
	cursor: pointer;
	transition: .6s;
}
#register > #register-click {
	position: absolute;
	top: 30px;
	left: 15px;
	cursor: pointer;
	color: #fff;
	opacity: 0.5;
	font-size: 21px;
	transition: .6s;
}
#register:hover > #register-click {
	transition: .6s;
	opacity: 0;
}
#register:hover {
	transition: .6s;
	right: -90%;
}
#register-close {
	position: absolute;
	top: 20px;
	right: -100%;
	color: #fff;
	font-size: 32px;
	cursor: pointer;
	transition: .6s;
}
#register > h3 {
	color: #fff;
	font-size: 24px;
	margin-bottom: 21px;
	letter-spacing: 1px;
}
#register > p {
	color: #fff;
	margin-bottom: 7px;
	font-size: 12px;
	letter-spacing: 3px;
}
#register > input {
	width: 100%;
	height: 40px;
	background-color: #3b77db;
	border: none;
	border-radius: 7px;
	padding: 0 20px;
	outline: none;
	margin-bottom: 12px;
	color: #fff;
}
#register > button {
	width: 100%;
	height: 45px;
	background-color: #fff;
	color: #4285f4;
	margin-top: 12px;
	cursor: pointer;
	border: none;
	border-radius: 7px;
	font-size: 14px;
	font-weight: bold;
}

/*

***** 게임 화면 설정 *********

*/

.game-start { 
	visibility: visible !important;
	opacity: 1 !important;
}

#myGame {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	visibility: hidden;
	opacity: 0;
	transition: .4s;
}